.profileScreen {
    height: 100vh;
    color: white;
}

.profileScreen__body {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20vh;
    max-width: 59vw;
}

.profileScreen__info {
    display: flex;
}

.profileScreen__details {
    color: white;
    margin-left: 2vw;
    flex: 1;
}

.profileScreen__body > h1 {
    font-size: 4.3vw;
    font-weight: 400;
    border-bottom: 0.15220700152207vh solid #282c2d;
    margin-bottom: 3vh;
}

.profileScreen__details > h2 {
    background-color: gray;
    padding: 2vh;
    font-size: 1vw;
    padding-left: 2vw;
}

.profileScreen__signOut {
    padding: 1.5vh 1.5vw;
    font-size: 1vw;
    margin-top: 3vh;
    width: 40.9vw;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.profileScreen__info > img {
    height: 7vw;
}

.profileScreen__plans > h3 {
    border-bottom: 0.15220700152207vh solid #282c2d;
    padding-bottom: 2vh;
}

.profileScreen__plans {
    margin-top: 3vh;
}
