.nav {
    position: fixed;
    top: 0;
    padding:  3vh;
    width: 100vw;
    height: 4.6vh;
    z-index: 1;
    /* Animation */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__contents {
    display: flex;
    justify-content: space-between;
}

.nav__black {
    background-color: black;

}

.nav__logo {
    position: fixed;
    top: 1.6vh;
    left: 0;
    width: 5.9rem;
    object-fit: contain;
    padding-left: 1.5vw;
    cursor: pointer;
}

.nav__avatar {
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    width: 2.2rem;
    height: 2rem;
}



